
#divSelecOptionsTask{
    height: 120px;
    visibility: hidden;
    background: #fff;
}

#listaTareas{
    overflow: auto;
    overflow-x: hidden;
    /* mozilla*/
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.divTarea p{
    font-size: 1.1em;
}

.alert-pendiente{
    background: #F2EFE9;
}

.alert-inicializada {
    background: #f8d7da;
}

.alert-realizada{
    background: #dbf4a7;
}

#btnListo{
    background: #058ed9;
    color: #fff;
}

#divSelecOptionsTask .row:nth-child(1){
    height: 20%;
    font-size: 0.7em;
}

#divSelecOptionsTask .row:nth-child(2) {
    height: 40%;
}

#divSelecOptionsTask .row:nth-child(3) {
    height: 40%;
}

.time{
    border: none;
    width: 40px;
    
    font-size: 1em;
}
.time:focus{
    outline: none;
}

.selected{
    background: #d3d3d3;
}

#spanEditHora::after {
    content: " hr";
}

#spanEditMinuto::after {
    content: " min";
}

#spanEditSegundo::after {
    content: " seg";
}


.icon-basura{
    color: #dc3545;
}

.icon-reset{
    color: #ffc107;
}

.icon-play{
    color: #218838;
}

.icon-edit{
    color: #19535F;
}

.icon-check{
    color: #2e86ab;
}

.btn-primary{
    background: #222E50;
    border: 1px solid grey;
    border-radius: 0px;
}

.fontDivBottom{
    font-size: 0.7em;
}

